* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

  /* .home,
  .services,
  .products,
  .sign-up,
  .Sidsriram,
  .anirudh,
  .Arijit,
  .Rithviz,
  .ARrahman{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  } */
.height
{
  height: 90vh;
}

  
  .image {
    /* Add background img */
    background-image: url("/src/data/anirudh.jpeg");
  
    /* Use filter to add blur effect */
    filter: blur(2px);
    
    height: 100%;
  
    /* Center the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .imagea {
    /* Add background img */
    background-image: url("/src/data/arijit1.jpg");
  
    /* Use filter to add blur effect */
    filter: blur(2px);
    
    height: 100%;
  
    /* Center the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
   
  }
  .imagear {
    /* Add background img */
    background-image: url("/src/data/ar rahman.png");
  
    /* Use filter to add blur effect */
    filter: blur(2px);
    
    height: 100%;
  
    /* Center the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
   
  }

  .imagesid{
    /* Add background img */
    background-image: url("/src/data/Sid Sriram.jpg");
  
    /* Use filter to add blur effect */
    filter: blur(2px);
    
    height: 100%;
  
    /* Center the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
   
  }
  .imagerithviz{
    /* Add background img */
    background-image: url("/src/data/rithviz1.jpeg");
  
    /* Use filter to add blur effect */
    filter: blur(2px);
    
    height: 100%;
  
    /* Center the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
   
  }
  /* Style the text */
  .text1 {
    background-color: rgba(0, 0, 0, 0.4); /* Black partially transparent background */
    color: white;
    font-weight: bold;
    border: 1px solid #ffffff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    
  }
.text1 h1{
  font-family:'Times New Roman', Times, serif;
  /* text-decoration: underline; */
  color: rgb(0, 255, 183);
  font-size: 60px;
  padding: 20px;
  margin-bottom: 10px;
}
/* .services {
  background-image: url('C:\Users\rajen\OneDrive\Desktop\Project-1\project1\src\images\img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('C:\Users\rajen\OneDrive\Desktop\Project-1\project1\src\images\img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.Sidsriram{
  background-image: url('C:\Users\rajen\OneDrive\Desktop\Project-1\project1\src\images\img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.sign-up {
  /* background-image: url('C:\Users\rajen\OneDrive\Desktop\Project-1\project1\src\images\img-8.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}